.left-section{
    width: 288px;
    border-right: none;
    display: hidden;
    flex-direction: column;
   
   
}
.panel{
    flex-direction: column;
    height: 482px;
}
.twitter-icon{
    padding-top: 3px;
    padding-bottom: 9px;
    color: rgb(29, 155, 240);
    font-size: 30px;
    margin-left: 13px;
   
}
.panel .home{
    width: 100%;
    height: 49px;
    display: flex;
    align-items: center;
    border-radius: 30px;
    padding: 12px;
    margin: 7px;
}
.panel .home .inner-home span{
    text-decoration: none;
    font-weight: 400;
    color: black;
    font-family: system-ui;
    margin: 0 16px;
    font-size: 19px;
}
.panel .home i{
    font-size: 23px;
}
.panel .home .inner-home{
    height: 100%;
    display: flex;
    align-items: center;
}
.panel .home .inner-home:hover{
    cursor: pointer;
}
.tweet-btn{
    padding: 15px 6em;
    background-color: rgb(29, 155, 240);
    font-weight: 700;
    color: #fff;
    border-radius: 30px;
    border: none;
}
.tweet-btn-res{
    display: none;
    padding: 16px 1em;
    border-radius: -4px;
    background-color: rgb(29, 155, 240);
    font-weight: 700;
    color: #fff;
    border-radius: 30px;
    border: none;
}
.tweet-btn:hover{
    background-color: rgb(13, 138, 221);
}
.tweet{
    display: flex;
    justify-content: center;
}
.panel .home-1{
    width: 130px;
}
.panel .explore{
    width: 140px;
}
.panel .messages{
    width: 165px;
}
.panel .bookmarks{
    width: 167px;
}
.panel .lists{
    width: 120px;
}
.panel .profile{
    width: 130px;
}
.panel .notifications{
    width: 190px;
}
.panel .more{
    width: 120px;
}
.panel .home-1:hover{
    background-color: rgba(224, 219, 219, 0.973);
  
}
.panel .explore:hover{
    background-color: rgba(224, 219, 219, 0.973);
}
.panel .notifications:hover{
    background-color: rgba(224, 219, 219, 0.973);
}
.panel .messages:hover{
    background-color: rgba(224, 219, 219, 0.973);
}
.panel .bookmarks:hover{
    background-color: rgba(224, 219, 219, 0.973);
}
.panel .lists:hover{
    background-color: rgba(224, 219, 219, 0.973);
}
.panel .profile:hover{
    background-color: rgba(224, 219, 219, 0.973);
}
.panel .more:hover{
    background-color: rgba(224, 219, 219, 0.973);
}

/*///// MEDIA QUERIES ///////*/

@media  only screen and (max-width: 1280px)  {
    .panel .home .inner-home{
     display: none;
    }
    .left-section{
        width: 90px;
        padding: 0px 1rem;
    }
    .tweet-btn-res{
        display: flex;
    }
    .tweet-btn{
        display: none;
    }
    .container{
        width: 100%;
    }
    
}
