.left-section{
    width: 288px;
    border: solid 1px magenta;
    border-right: none;
    display: flex;
    flex-direction: column;
    padding: 0px 26px;
}
.panel{
    border: solid 1px green;
    flex-direction: column;
    height: 500px;
}
.twitter-icon{
    padding-top: 3px;
    padding-bottom: 9px;
    color: rgb(29, 155, 240);
    font-size: 30px;
   
}
.panel .home{
    width: 100%;
    height: 49px;
    display: flex;
    align-items: center;
    border-radius: 30px;
    padding: 12px;
    margin: 7px;
}
.panel .home .inner-home a{
    text-decoration: none;
    font-weight: 700;
    color: black;
    font-family: system-ui;
    margin: 0 16px;
    font-size: 19px;
}
.panel .home i{
    font-size: 23px;
}
.panel .home .inner-home{
    height: 100%;
    display: flex;
    align-items: center;
}
.tweet-btn{
    padding: 16px 6em;
    margin: 1em;
    background-color: rgb(29, 155, 240);
    font-weight:700;
    color: #fff;
    border-radius: 30px;
    border: none;
}
.tweet-btn:hover{
    background-color: rgb(13, 138, 221);
}
.panel .home-1{
    width: 130px;
}
.panel .explore{
    width: 140px;
}
.panel .messages{
    width: 165px;
}
.panel .bookmarks{
    width: 167px;
}
.panel .lists{
    width: 120px;
}
.panel .profile{
    width: 130px;
}
.panel .notifications{
    width: 190px;
}
.panel .more{
    width: 120px;
}
.panel .home-1:hover{
    background-color: rgba(224, 219, 219, 0.973);
  
}
.panel .explore:hover{
    background-color: rgba(224, 219, 219, 0.973);
}
.panel .notifications:hover{
    background-color: rgba(224, 219, 219, 0.973);
}
.panel .messages:hover{
    background-color: rgba(224, 219, 219, 0.973);
}
.panel .bookmarks:hover{
    background-color: rgba(224, 219, 219, 0.973);
}
.panel .lists:hover{
    background-color: rgba(224, 219, 219, 0.973);
}
.panel .profile:hover{
    background-color: rgba(224, 219, 219, 0.973);
}
.panel .more:hover{
    background-color: rgba(224, 219, 219, 0.973);
}

