.left-section{
    width: 300px;
    border: solid 1px magenta;
    display: flex;
    flex-direction: column;
}
.panel{
    border: solid 1px green;
    flex-direction: column;
}
.twitter-icon{
    padding-top: 11px;
    padding-bottom: 20px;
    color: rgb(29, 155, 240);
    font-size: 30px;
   
}
.panel .home{
    border: solid 1px magenta;
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
}
.panel .home .inner-home a{
    text-decoration: none;
    font-weight: 700;
    color: black;
    font-family: system-ui;
    margin: 0 16px;
    font-size: 19px;
}
.panel .home i{
    margin-right: 3px;
    font-size: 23px;
}
.panel .home .inner-home{
    height: 100%;
    display: flex;
    align-items: center;
}
.tweet-btn{
    padding: 16px 6em;
    margin: 1em;
    background-color: rgb(29, 155, 240);
    font-weight:700;
    color: #fff;
    border-radius: 30px;
    border: none;
}
.tweet-btn:hover{
    background-color: rgb(13, 138, 221);
}
