.login-section{
    -webkit-box-shadow: 0px -1px 26px 4px rgba(75,146,148,1);
-moz-box-shadow: 0px -1px 26px 4px rgba(75,146,148,1);
box-shadow: 0px -1px 26px 4px rgba(75,146,148,1);
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 15px;
    height: 30rem;
    width: 25rem;
    align-items: center;
    justify-content: space-evenly;
}
.login-section input{
    border: solid 1px  lightgray;
    background-color: #fff;
    border-radius: 8px;
    width: 300px;
    height: 60px;
    font-size: 15px;
}
.login-section .top-section{
    margin-bottom: 9px;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.login-section .top-section i{
    color: rgb(29, 155, 240);
    font-size: 40px;
    margin-bottom: 6px;
}
.login-section.top-section h5{
    font-size: 30px;
    color: black;
}
.login-section .btn{
    background-color: rgb(29, 155, 240);
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    width: 70%;
}
.login-section span{
    color: rgb(29, 155, 240);
    text-decoration:underline;
    cursor: pointer;
}
.login-section input[type="text"], input[type="password"], textarea,select { 
    outline: none;
 }