.main-section {
    border: solid 1px lightgrey;
    width: 37rem;
    position: relative;
}

.navbar {
    color: black;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(12px);
    height: 30px;
    right: 1px;
    left: 1px;
    padding: 27px;
    display: flex;
    align-items: center;
}

.navbar .fa-solid {
    position: absolute;
    bottom: 16px;
    right: 15px;
    cursor: pointer;
}

.navbar .nav-icon {
    position: absolute;
    bottom: 8px;
    left: 15px;
}

.navbar .nav-icon h5 {
    font-weight: 600;
}

.tweet-section {
    width: 100%;
    height: 198px;
    display: flex;
    margin-top: 55px;
    margin-bottom: -26px;
}

.tweet-section .left-panel {
    border-bottom: solid 1px lightgrey;
    width: 14%;
    height: 58%;
    display: flex;
    justify-content: center;
}

.tweet-section .right-panel {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.tweet-section .right-panel .top-panel {
    width: 100%;
    height: 58%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-bottom: solid 1px lightgrey;
}

.tweet-section .right-panel .bottom-panel {
    border: solid 1px blue;
    width: 100%;
    height: 50%;
}

.left-panel img {
    border-radius: 104px;
    margin-top: 12px;
    width: 76px;
    height: 76px;
}

.left-panel .img-div {
    width: 50px;
    height: 50px;
    margin-top: 12px;
    border-radius: 30px;
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRfmns5LQjn5imNgcW3cozyKAtjRy7v-2I2kw&usqp=CAU")
}

.tweet-section .top-panel input {
    width: 100%;
    border: none;
    margin-top: 28px;
    font-size: 19px;
    height: 27%;
    padding-bottom: 18px;
}

.tweet-section .top-panel .tweet-icons {
    color: rgb(29, 155, 240);
    width: 114%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50%;
}

.tweet-section .top-panel .tweet-icons .icon-div {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

.tweet-section .top-panel .tweet-icons .icon-div:hover {
    background-color: rgb(186, 223, 247);
}

.tweet-section .top-panel .btn-tweet {
    margin-left: 10rem;
    color: #fff;
    background: rgb(29, 155, 240);
    border-radius: 19px;
    height: 38px;
    width: 76px;
    border: none;
    font-weight: 600;
}

.tweet-section .top-panel .btn-div-tweet {
    width: 50%;
    margin: 0 40px;
}

.creators {
    display: flex;
    width: 100%;
    height: 130px;
    border: solid 1px lightgray;
}

.creators .left-panel {
    padding: 11px;
    display: flex;
}

.creators .right-panel {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.creators .right-panel .contents {
    padding: 29px 0;
    width: 100%;
    border: solid 1px magenta;
    min-height: 100%;
}

.creators .right-panel .name-section {
    width: 100%;
    height: 20px;
    border: solid 1px green;
    display: flex;
}

.creators .right-panel .content-section {
    width: 100%;
    min-height: 40px;
    border: solid 1px magenta;
    margin-top: 2px;
}

.creators .right-panel .reaction-section {
    display: flex;
    width: 79%;
    height: 30px;
    border: solid 1px blue;
    justify-content: space-between;
}

.creators .right-panel .name-section h5 {
    font-size: 16px;
    color: black;
}

.creators .right-panel .name-section p {
    color: grey;
    margin-left: 8px;
    font-size: 15px;
    font-weight: 400;
}

.creators .right-panel .name-section i {
    margin-left: 20em;
}
.creators .right-panel .reaction-section .comments{
    display: flex;
    color: #6c757d;
}
.creators .right-panel .reaction-section .comments p{
    margin-left: 8px;
    font-size: 13px;
}